.navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: #0d6efd;
}
.navbar-nav .nav-item {
  padding: 0 0.7rem;
}
.carousel-item img {
  object-fit: cover;
  height: 650px;
  width: 100%;
}
.cat_banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 220px;
  align-items: center;
  justify-content: center;
  background: #111;
  text-align: center;
  padding: 20px;
  margin: 15px 5px;
  color: #fff;
  overflow: hidden;
}
.cat_title h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.offer-banner-score {
  font-size: 35px;
  font-weight: 700;
  color: #e7932b;
}
.offer-banner-badge {
  background: #e79329;
  font-size: 15px;
  font-weight: 600;
  line-height: initial;
  padding: 4px 15px;
  letter-spacing: 1px;
}
.section-title-wrap {
  position: relative;
  padding-top: 30px;
}
.footer_wrap {
  position: relative;
  background-color: #000000;
  color: #ffffff;
}
.footer_wrap .menu li {
  list-style-type: none;
  line-height: 30px;
  margin-right: 0;
}
.footer_wrap .menu li a {
  color: #ffffff;
}
.footer_wrap .menu li a:hover {
  color: #0d6efd;
}
.footer_wrap .widget_title {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
.social-profiles ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  margin-right: 7px;
  margin-bottom: 7px;
}
.social-profiles ul li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #d5d5d5;
  line-height: 36px;
  background: 0 0;
  border-radius: 3px;
}
.social-profiles ul li a:hover {
  background: #0d6efd;
}
.newsletter-email {
  margin-bottom: 0;
  padding-right: 55px;
  color: #111111;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.newsletter_form .button-area .input-group-btn > .btn:before {
  content: '\f1d8';
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 14px;
}
button.btn.submit {
  width: 46px;
  height: 46px;
  position: absolute;
  font-size: 0;
  top: 0;
  right: 0;
  padding: 0;
  color: #ffffff;
  line-height: 46px;
  background: #0d6efd;
  border-radius: 0 2px 2px 0;
  overflow: hidden;
}
.footer-contact p span,
.footer-contact p i {
  display: table-cell;
}
.footer-contact p i {
  padding-right: 10px;
  min-width: 24px;
}
.payment__method-icon img {
  height: 32px;
}
.site-info {
  position: relative;
  width: 100%;
  color: #fff;
  background: #131110;
  padding: 25px 0;
}

@media only screen and (max-width: 767px) {
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  .carousel-item img {
    height: 420px;
  }
  .site-footer .text-right,
  .site-info,
  .site-info .text-right {
    text-align: center !important;
  }
}
