@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}
.pr {
  position: relative;
}
.db {
  display: block;
}
.oh {
  overflow: hidden;
}
.ls__1{letter-spacing: 1px;}
.pt__30 {
  padding-top: 30px;
}
.pb__30 {
  padding-bottom: 30px;
}
.pt__50 {
  padding-top: 50px;
}
.pb__50 {
  padding-bottom: 50px;
}
.pt__60 {
  padding-top: 60px;
}
.pb__60 {
  padding-bottom: 60px;
}
.mg__0 {
  margin: 0;
}
.mt__20 {
  margin-top: 20px;
}
.mb__20 {
  margin-bottom: 20px;
}
.mt__30 {
  margin-top: 30px;
}
.mb__30 {
  margin-bottom: 30px;
}
.mt__50 {
  margin-top: 50px;
}
.mb__50 {
  margin-bottom: 50px;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 700;
}
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-20 {
  font-size: 20px !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-primary {
  color: #0d6efd;
}
.text-dblue {
  color: #062c59;
}
footer input[type='text'],
textarea {
  width: 100%;
  padding: 0 15px;
  height: 46px;
  color: #111111;
  font-size: 14px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
footer input[type='text'],
textarea {
  background: #fff;
  border: 1px solid #e5e5e5;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fl_between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.al_center {
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .dn_mb,
  .dn_md {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.prod-card,
.prod-card img {
  transition: all 0.4s ease;
}
.prod-card:hover,
.prod-card:hover {
  transform: scale(1.1);
}
.prod-title {
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
